.reaction {
  height: auto;
  padding: 5px;
  max-width: 412px;
  margin: 5px auto;
}

h5 {
font-size: 17px;
}

ion-item {
  margin-top: -5px;
  margin-left: -4px;
}

.default {
  margin-top: 3px;
  width: 30px;
  height: 30px;
}

ion-button {
  --background: transparent;
}

ion-icon {
  font-size: 1.6em;
}

.reply-reaction {
  margin-left: 4px;
}