<div class="reaction">
  <ul class="chart">
      <li>
        <span style="height:5%" title="Love"></span>
        <img src="assets/img/emojis/in-love.png"/>
        <span class="perc">5%</span>
      </li>
      <li>
        <span style="height:70%" title="Laugh"></span>
        <img src="assets/img/emojis/laughing.png"/>
      </li>
      <li>
        <span style="height:50%" title="Wow"></span>
        <img src="assets/img/emojis/surprised.png"/>
      </li>
      <li>
        <span style="height:15%" title="Sad"></span>
        <img src="assets/img/emojis/embarrassed.png"/>
      </li>
      <li>
        <span style="height:15%" title="Angry"></span>
        <img src="assets/img/emojis/angry.png"/>

      </li>
    </ul>
</div>
