<div class="info animated fadeIn">
  <ion-list>
    <ion-item-divider>
     {{'user.data' | translate}}
    </ion-item-divider>
    <ion-item-sliding #slidingName *ngIf="!editingName">
      <ion-item detail>
        <ion-icon slot="start" color="light" name="person"></ion-icon>
        <ion-label>{{user.name}}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="editName()">
          <ion-icon slot="icon-only" color="light" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <form [formGroup]="editUserForm">
      <ion-item *ngIf="editingName">
        <ion-icon slot="start" color="light" name="person"></ion-icon>
        <ion-input name="name"
                  #name
                  autofocus="true"
                  formControlName="name"
                  type="text"
                  required>
        </ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="updateUser()"
                      [disabled]="editUserForm.invalid || editUserForm.value.name === user.name">
            <ion-icon color="success" class="edit" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="cancelEdit('name')" class="btn">
            <ion-icon color="danger" class="edit" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item-sliding #slidingEmail *ngIf="!editingEmail">
        <ion-item detail>
          <ion-icon slot="start" color="light" name="mail"></ion-icon>
          <ion-label>{{user.email}}</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option  (click)="editEmail()">
            <ion-icon slot="icon-only" color="light" name="create"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item *ngIf="editingEmail">
          <ion-icon slot="start" color="light" name="mail"></ion-icon>
          <ion-input type="email"
                    name="email"
                    #email
                    autofocus="true"
                    formControlName="email"
                    required>
          </ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="updateUser()"
                        [disabled]="editUserForm.invalid || editUserForm.value.email === user.email">
              <ion-icon color="success" class="edit" name="create"></ion-icon>
            </ion-button>
            <ion-button (click)="cancelEdit('email')" class="btn">
              <ion-icon color="danger" class="edit" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </form>
      <ion-item>
        <ion-icon slot="start" color="light" name="key"></ion-icon>
        <ion-label>{{user.account}}</ion-label>
      </ion-item>
      <ion-item-divider class="divider">
        {{'interactions' | translate}}
      </ion-item-divider>
      <div *ngIf="info">
        <ion-item>
          <ion-icon slot="start" color="light" name="mail-open"></ion-icon>
          <ion-label>{{'comments' | translate}}</ion-label>
          <ion-badge color="primary" slot="end">{{info.comments}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="light" name="happy"></ion-icon>
          <ion-label>{{'reactions' | translate}}</ion-label>
          <ion-badge color="primary" slot="end">{{info.reactions}}</ion-badge>
        </ion-item>
      </div>
      <div *ngIf="!info">
        <ion-spinner name="lines" color="primary"></ion-spinner>
      </div>
  </ion-list>
</div>
