.info {
  max-width: 412px;
  margin: 0 auto;
  padding: 10px;
}

ion-label {
  font-size: .8em !important;
}

ion-badge {
  width: 30px;
  height: 20px;
}

ion-item-divider {
  border-bottom: 0;
}

ion-item-option {
  background: transparent;
}

.divider {
  margin-top: 25px;
}