.signup {
  min-height: 100%;
  margin-top: 10px;
}

ion-list {
  margin-bottom: 25px;
  margin-top: 10px;
  width: 300px;
}

ion-item {
  margin: 5px auto;
}

ion-button {
  margin-top: 5px;
}

.invalid {
  color: var(--ion-color-danger);
}

.valid {
  color: var(--ion-color-success);
}

form {
  width: 300px;
  margin: 0 auto;
  min-height: 100%;
}

.antic {
  color: var(--ion-color-primary);
}

h1 {
  margin: 5px auto;
  font-size: 1.8em;
}

h3 {
  margin-top: 25px;
  margin-bottom: 0;
}

@media (max-width: 340px) {
  h1 {
    font-size: 1.2em;
  }

  h3 {
    font-size: .8em;
  }

  ion-list, form {
    width: 270px;
  }

  ion-input {
    font-size: .9em;
  }
}
