.chart {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 412px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 35px;
    margin-left: -21px;

    li {
      position: relative;
      display: table-cell;
      vertical-align: bottom;
      height: 150px;
    }

    span {
      margin: 1em;
      display: block;
      background: var(--ion-color-primary);
      padding-left: 4px;

      &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        padding: 0 10px;
        font-size: .75em;
        display: block;
        text-align: center;
        content:attr(title);
        font-weight: bold;
        word-wrap: break-word;
      }
  }
}

img {
 position: relative;
 width: 40px;
 margin: 0 auto;
 display: block;
}

.perc {
 text-align: center;
 font-weight: bold;
 font-size: .8em;
 margin: 1em .5em !important;
 background: transparent!important;
}

.low {
  color: var(--ion-color-danger) !important;
}

.medium {
  color: var(--ion-color-secondary-shade) !important;
}

.high {
  color: var(--ion-color-success) !important;
}