.chart {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 35px;
    position: relative;
    left: -20px;

    li {
      position: relative;
      display: table-cell;
      vertical-align: bottom;
      height: 150px;
      max-width: 50px;
    }

    span {
      margin: 1em auto;
      display: block;
      background: var(--ion-color-primary);
      padding-left: 4px;
      max-width: 40px;

      &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        padding: 0 8px;
        font-size: .75em;
        display: block;
        text-align: center;
        content:attr(title);
        font-weight: bold;
        word-wrap: break-word;
      }
  }
}

img {
 position: relative;
 width: 40px;
 margin: 0 auto;
 display: block;
}

.perc {
 text-align: center;
 font-weight: bold;
 font-size: .8em;
 max-width: 40px;
 margin: 1em auto !important;
 background: transparent!important;
}

.low {
  color: var(--ion-color-danger) !important;
}

.medium {
  color: var(--ion-color-secondary-shade) !important;
}

.high {
  color: var(--ion-color-success) !important;
}

.no-reactions {
  height: 394px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}