.connect {
  padding: 5px;
  max-width: 412px;
  margin: 5px auto;

  &-header {
    margin-bottom: 25px;
  }

  &-title {
    background: var(--ion-color-primary);
    font-weight: 900;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    height: 40px;
  }

  &-select {
    border-bottom: 2px solid var(--ion-color-primary);
  }
}

.social {
  text-align: left;
  margin-left: 5px;
}

ion-button {
  width: 122px;
  font-size: .8em;
  text-transform: capitalize;
}

.people {
  display: flex;
  align-items: center;
  font-size: .8em;
  margin-left: 5px;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  border: 2px solid var(--ion-color-primary);
  padding: 5px 10px;
  font-size: .8em;
  font-weight: 900;
  border-radius: 2px;
  width: 90px;
  display: block;
  text-align: center;
  position: relative;
}

img {
  width: 60px;
}

.text-orange {
  color: var(--ion-color-primary);
  margin-right: 7px;
}

ion-ripple-effect {
  width: 88px;
  height: 27px;
}

@media (max-width: 359px) {
  .people {
    font-size: .7em;
    margin-left: -5px;
  }

  .button {
    font-size: .7em;
  }

  img {
    width: 45px;
  }
}