<div class="connect">
  <ion-grid>
    <ion-row class="connect-header">
      <ion-col class="connect-title">
        Connect
      </ion-col>
      <ion-col class="connect-select">
      </ion-col>
    </ion-row>
    <ion-row *ngFor=" let s of social"
              class="social">
      <ion-col size="3">
        <img [src]="s.logo"/>
      </ion-col>
      <ion-col class="people">
        <span class="text-orange">{{s.people}}</span>
         {{s.kind}}
      </ion-col>
      <ion-col class="buttons" >
        <div class="button ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
          {{s.action}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

