.comment {
  padding: 10px;
}

ion-textarea {
  padding: 14px 0;
  margin: 0;
  --padding-top: 16px !important;
  --padding-bottom: 0 !important;
  --padding-start: 0 !important;
  font-size: .9em;
}

h5 {
  margin-top: 10px;
  display: inline-block;
}

ion-icon {
  margin-left: 20px;
  position: relative;
  left: 5px;
}