<div class="comments">
  <ion-grid>
    <ion-row class="comments-header">
      <ion-col class="comments-title">
        Comments
      </ion-col>
      <ion-col class="comments-select">
          <ion-item>
            <ion-select slot="end"
                        interface="popover"
                        placeholder="All"
                        mode="ios">
              <ion-select-option value="brown">Top</ion-select-option>
              <ion-select-option value="green">Latest</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid id="comments" class="animated fadeIn fast"
            (swipe)="swipe($event)">
    <ion-row class="list"
            *ngFor="let c of comments |
                    paginate: { id: 'comments_pag',
                                itemsPerPage: itemsPerPage,
                                currentPage: page }">
      <ion-col size="3" class="flex-col">
        <ion-avatar>
          <img src="assets/img/avatars/avatar-1.png"/>
        </ion-avatar>
      </ion-col>
      <ion-col size="9" text-left>
        <h5>{{c.author}}</h5>
        <span class="comments-date">
          {{c.created}}
        </span>
        <p class="comment">{{c.comment}}</p>
      </ion-col>
      <!-- <ion-col size="1" class="flex-col">
        <ion-icon src="assets/icons/see_more.svg"></ion-icon>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</div>