<div class="history animated fadeIn">
  <ion-list *ngIf="history.length > 0">
    <ion-item-divider>
      {{'you.reacted' | translate}}
    </ion-item-divider>
    <div class="animated fast"
        id="history-items"
        (swipe)="swipe($event)">
            <ion-item *ngFor="let h of history |
                              paginate: { id: 'history',
                                          itemsPerPage: itemsPerPage,
                                          currentPage: page }">

              <ion-icon slot="start"
                        [color]="h.type | iconColor"
                        [name]="h.type | iconType">
              </ion-icon>
              <ion-label>
                {{h.title}}
                <p>{{h.created}}</p>
              </ion-label>
            </ion-item>
      </div>
    </ion-list>
    <div *ngIf="history.length === 0" class="no-history">
      <h5>{{'no.history' | translate}}</h5>
    </div>
    <div *ngIf="!history">
      <ion-spinner name="lines" color="primary"></ion-spinner>
    </div>
  </div>

<app-pagination *ngIf="history.length > 0"
                (index)="changeFrom($event)"
                id="history">
</app-pagination>



