.history {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 330px;
  padding: 10px;
  padding-top: 5px;
}

ion-list {
  margin-bottom: 0;
}

ion-item {
  margin-top: 5px;
}

ion-icon {
  position: relative;
  top: -5px;
}

ion-item-divider {
  border-bottom: 0;
}

ion-label {
  font-size: .8em !important;
  padding-right: 10px;
}

p {
  margin-top: 5px;
  font-size: .9em !important;
}
