<ion-segment (ionChange)="segmentChanged($event)"
              class="segment"
              mode="md"
              scrollable
              scrollHorizontal
              value="All">
  <ion-segment-button color="light"
                      *ngFor="let c of categories"
                      [value]="c.name"
                      (click)="getArticles(c.name)">
      <ion-item lines="none">
        <ion-icon [name]="c.icon" slot="start"></ion-icon>
        <ion-label text-capitalize>{{c.name | translate}}</ion-label>
      </ion-item>
  </ion-segment-button>
</ion-segment>
