ion-segment-button {
  color: var(--ion-color-light) !important;
}

.segment-button-checked ion-icon {
  color: var(--ion-color-primary) !important;
}

.sc-ion-segment-md-h {
  --color-checked: var(--ion-color-dark) !important;
}

ion-label {
  font-weight: bold;
}

ion-icon {
  position: relative;
  left: 15px;
  color: var(--ion-color-medium);
}

.segment::-webkit-scrollbar {
  height: 8px;
  display: block;
}

.segment::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.segment::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px var(--ion-color-primary);
  box-shadow: inset 0 0 3px var(--ion-color-primary);
}
