.emojis {
  padding: 10px;
  position: relative;
}

img {
 width: 27px;
 margin: 8px 0;
}

h5 {
  margin-top: 10px;
  margin-bottom: 20px;
}

ion-buttons {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
