<div class="articles animated fadeIn" *ngIf="articles.length > 0">
  <ion-grid class="animated fadeIn fast"
            (swipe)="swipe($event)"
            id="articles">
    <ion-row class="row"
            *ngFor="let a of articles | paginate: { id: 'articles_pag',
                                                    itemsPerPage: itemsPerPage,
                                                    currentPage: page }"
            (click)="goToArticle(a._id)">
      <ion-col size="3">
        <img [src]="a.cover"/>
      </ion-col>
      <ion-col size="9" class="article">
        <div>
          <p class="article-title">
            <strong>{{a.title}}</strong>
          </p>
        </div>
        <span class="date">
          <strong>{{a.author}}</strong> - {{a.created}}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-pagination (index)="changeFrom($event)" id="articles_pag"></app-pagination>
</div>

<div class="flex-box" *ngIf="!articles">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</div>

<div class="flex-box-empty" *ngIf="articles.length === 0">
  <hr>
</div>




