<div class="articles">
  <ion-grid class="animated fadeIn fast"
            (swipe)="swipe($event)"
            id="articles">
    <ion-row class="row" *ngFor="let a of articles |
                     paginate: { id: 'articles_pag',
                                 itemsPerPage: itemsPerPage, currentPage: page }"
                     (click)="goToArticle(a._id)">
      <ion-col size="4" class="image">
        <img [src]="a.image || 'assets/img/slide1.jpg'"/>
      </ion-col>
      <ion-col size="8" class="article">
        <span class="article-title">
          <strong>{{a.title}}</strong>
        </span>
        <p class="date">
          <strong>{{a.author}}</strong> - {{a.created}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-pagination (index)="changeFrom($event)" id="articles_pag"></app-pagination>
</div>

<app-loader *ngIf="!articles"></app-loader>

