.articles {
  max-width: 412px;
  margin: 0 auto;
  height: 345px;
  margin-top: 5px;
}

@media (max-width: 388px) {
  .articles {
    margin-top: 20px;
  }
}

ion-grid {
  margin-left: 10px;
  height: 285px;
}

img {
  border-radius: 2px;
  max-width: 100%;
  height: 72px;
}

.image {
  max-width: 96px !important;
}

.article {
  margin-top: 3px;
  margin-left: 6px;
  padding-right: 35px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &-title {
    font-size: .9em;
    margin-top: 3px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
}

ion-icon {
  position: relative;
  right: -8px;
  top: 7px;
  font-size: 1.2em;
}

.date {
  font-size: .7em;
  color: var(--ion-color-medium);
  margin-top: 0;
}

@media (max-width: 359px) {
  .article-title {
    font-size: .8em;
    padding-right: 0;
  }

  .date {
    font-size: .6em;
  }
}