.body {
  margin: 0 auto;
  max-width: 412px;
  padding: 0 16px;
}

h5 {
  margin-top: 25px;
  font-size: 1.3em;
  padding-right: 15px;
}

.date {
  font-size: .7em;
  color: var(--ion-color-medium);
  margin-bottom: 20px;
}