.share {
  margin: 0 auto;
  margin-bottom: 20px;
}

img {
  width: 27px;
  margin: 0 10px;
  margin-left: 0;

  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
  }
}

ion-grid {
  padding: 5px 30px;
}

h5 {
  margin-top: 10px;
}

.m-left {
  margin-left: 15px;
}

.last {
  position: absolute;
  right: 25px;
}