.grid {
  height: auto;
  margin-bottom: 5px;
}

ion-avatar {
  width: 50px;
  height: 50px;
  margin-top: -3px;
  margin-left: 5px;
}

.list {
  margin-left: 5px;
  margin-bottom: 5px;
}

.flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-comment {
  padding-left: 20px;
}

.comments-date {
  font-size: .7em;
  color: var(--ion-color-medium);
  font-weight: bold;
}

.comment-author {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 1em;
}

.comment {
  font-size: .8em;
  padding-right: 10px;
}

@media (max-width: 359px) {
  .comment {
    font-size: .8em;
    padding-right: 0;
  }

  .comments-date {
    font-size: .6em;
  }

  .comment-author {
    font-size: .8em;
  }
}

.spinner {
  height: 394px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.no-comments {
  height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}