<ion-grid class="animated fadeIn fast grid"
          id="article-comments"
          (swipe)="swipe($event)"
          *ngIf="comments">
  <ion-row class="list"
          *ngFor="let c of comments |
                  paginate: { id: 'article_comment',
                              itemsPerPage: itemsPerPage,
                              currentPage: page }">
    <ion-col size="2" class="flex-col">
      <ion-avatar>
        <img [src]="c.user.avatar | avatar"/>
      </ion-avatar>
    </ion-col>
    <ion-col size="10" text-left class="article-comment">
      <h5>{{c.author}}</h5>
      <span class="comments-date">
        {{c.created}}
      </span>
      <p class="comment">{{c.comment}}</p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="comments.length === 0" class="no-comments">
    <ion-col>
      <h5 class="no-comments">{{'no.comments' | translate}}</h5>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="comments">
  <app-pagination (index)="changeFrom($event)"
                  *ngIf="comments.length > 0"
                  id="article_comment">
  </app-pagination>
</div>

<div class="spinner" *ngIf="!comments">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</div>
