ion-searchbar {
  --icon-color: var(--ion-color-primary);
  --placeholder-color: var(--ion-color-light);
  color: var(--ion-color-light);
}

.sc-ion-searchbar-ios-h {
  height: 45px;
  padding: 0;
  margin-top: -1px;
}