.footer {
  max-width: 412px;
  margin: 0 16px;
  height: 75px;
  padding: 5px;
  border-top: 1px solid var(--ion-color-light);
  text-align: center;
  color: var(--ion-color-light);
  // background: var(--ion-color-light);
}

p {
  font-size: .9em;
  margin: 7px auto;
  line-height: 24px;
}

.bold {
  color: var(--ion-color-primary);
}

ion-icon {
  font-size: 1.2em;
  color: lightcoral;
  position: relative;
  top: 2px;
}