h5 {
  background: var(--ion-color-light);
  color: var(--ion-color-primary);
  padding: 4px 24px;
  width: fit-content;
  font-size: 11px;
  font-weight: 900;
  margin: 21px auto;
  margin-bottom: 20px;
  border-radius: 2px;
}

p {
  font-size: .75em;
  padding: 0 25px;
}

@media (max-width: 359px) {
  p {
    font-size: .75em;
    padding: 0;
  }
}