<app-header></app-header>

<ion-content text-center *ngIf="articles || latest">
  <ion-refresher slot="fixed"
                [disabled]="!refresh"
                (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-main-slider *ngIf="main" [articles]="main"></app-main-slider>
  <app-small-slider *ngIf="secondary" [articles]="secondary"></app-small-slider>
  <app-trending></app-trending>
  <app-latest [article]="latest"
              *ngIf="latest"
              (selectCategory)="changeCategory($event)">
  </app-latest>
  <app-articles [articles]="articles"></app-articles>
</ion-content>

<app-loader *ngIf="!latest"></app-loader>

