<div class="signin">
  <h3>{{'welcome.to' | translate}}</h3>
  <h1 class="antic">Antic<ion-text color="light">'</ion-text>s
    <ion-text color="light">Space</ion-text>
  </h1>
  <h4>{{'login.account' | translate}}</h4>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email"
                  type="email"
                  formControlName="email"
                  mode="md">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'password' | translate}}</ion-label>
        <ion-input name="password"
                  type="password"
                  formControlName="password"
                  mode="md">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">{{'remember' | translate}}?</ion-label>
          <ion-checkbox color="light"
                        [(ngModel)]="remember"
                        slot="end"
                        [ngModelOptions]="{standalone: true}">
          </ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button type="submit"
                expand="full"
                color="primary"
                shape="round"
                mode="md"
                [disabled]="signInForm.invalid">
                {{'login' | translate}}
    </ion-button>
  </form>
  <h4>{{'no.account' | translate}}?
    <span class="bold"
          (click)="goToSignUp()"
          [innerHTML]="'register' | translate">
    </span>!
  </h4>
  <h4>{{'no.time' | translate}}
    <span class="bold" (click)="enterAsGuest()">{{'guest' | translate}}</span>
  </h4>
</div>
