:root {
  .default {
     /** primary **/
  --ion-color-primary: #e05c0f;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 224, 92, 15;
  --ion-color-primary-shade: #d4540a;
  --ion-color-primary-tint: #dd7132;
  --ion-background: url('https://drive.google.com/uc?export=download&id=1N4B6EVIhNzg6YVXHMPcSh047TBtQOf7_');
  }

  .pink {
  --ion-color-primary: #e91e63;
  --ion-color-primary-rgb: 233,30,99;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #cd1a57;
  --ion-color-primary-tint: #eb3573;
  --ion-background: url('https://drive.google.com/uc?export=download&id=1cTL0SIvdUaCUj1_4nO-M0ZJLV4SF4ycx');
  }

  .blue {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56,128,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  --ion-background: url('https://drive.google.com/uc?export=download&id=1N3o0AkEQp4tu-U5p1wCIK5tOM5nWLrpQ');
  }

  .red {
  --ion-color-primary: #b00020;
  --ion-color-primary-rgb: 176,0,32;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #9b001c;
  --ion-color-primary-tint: #b81a36;
  --ion-background: url('https://drive.google.com/uc?export=download&id=1bQPlouHU6Prl4ZeWdh5zWy1-8up9x94s');
  }

  .cyan {
  --ion-color-primary: #03dac6;
  --ion-color-primary-rgb: 3,218,198;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #03c0ae;
  --ion-color-primary-tint: #1cdecc;
  --ion-background: url('https://drive.google.com/uc?export=download&id=13eFUTIDL82jjJC7mhJn7PGn20iyWVFUo');
  }

  .green {
  --ion-color-primary: #10dc60;
  --ion-color-primary-rgb: 16,220,96;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0ec254;
  --ion-color-primary-tint: #28e070;
  --ion-background: url('https://drive.google.com/uc?export=download&id=13RSVPljMjZzxO7is1Ild3H2_m-ePGJA8');
  }

  .yellow {
  --ion-color-primary: #ffd300;
  --ion-color-primary-rgb: 255,211,0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e0ba00;
  --ion-color-primary-tint: #ffd71a;
  --ion-background: url('https://drive.google.com/uc?export=download&id=1yseYi5gUioEr6F1XXOApx6UHjdXnvqRH');
  }

  .violet {
  --ion-color-primary: #7044ff;
  --ion-color-primary-rgb: 112,68,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #633ce0;
  --ion-color-primary-tint: #7e57ff;
  --ion-background: url('https://drive.google.com/uc?export=download&id=1C-Q-94u5zOketccN_hxLHnSP-Yxl4Hk4');
  }

}