<div class="latest">
  <ion-grid>
    <ion-row>
      <ion-col class="latest-title">
        {{'latest' | translate}}
      </ion-col>
      <ion-col class="latest-select">
          <ion-item>
            <ion-select slot="end"
                        interface="popover"
                        placeholder="All"
                        mode="ios">
              <ion-select-option value="brown">Brown</ion-select-option>
              <ion-select-option value="green">Green</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left>
        <div class="picture">
          <h5>LIFESTYLE</h5>
        </div>
        <p>
          <strong>
              We never seem to have time for the things
              we want to do. Here's how to change that.
          </strong>
        </p>
        <span class="latest-author">
          <strong>Ryan Johnson</strong> - Dec 1, 2017
          <ion-badge color="primary" mode="md">13</ion-badge>
          <ion-icon name="chatboxes" color="primary"></ion-icon>
        </span>
        <p class="latest-message">
          I just don't have enough time for everything I want
          to do in life, I screamed at my friend at the end of yet
          another long tiring day where I...
          <span class="bold">See more...</span>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

