.latest {
  padding: 5px;
  max-width: 100%;
  margin: 25px auto;
  margin-bottom: 0;
  height: 455px;

  &-title {
    background: var(--ion-color-primary);
    font-weight: 900;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }

  &-select {
    border-bottom: 2px solid var(--ion-color-primary);
  }

  &-author {
    font-size: .7em;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &-message {
    margin-top: 10px;
    font-size: .8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 63px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

@media (min-width: 900px) {
  .latest-message {
    display: block;
    max-height: 76px;
  }
}

@media (max-width: 767px) and (min-width: 463px) {
  .latest-message {
    display: block;
    max-height: 76px;
  }
}

.article-title {
  margin-top: 20px;
}

ion-col {
  height: 40px;
}

ion-item {
  position: relative;
  bottom: 16px;
}

ion-select {
  margin-top: 8px;
  position: relative;
  left: 15px;
}

ion-badge {
  position: absolute;
  right: 23.5px;
  margin-top: -3px;
  z-index: 50;
  font-size: 1em;
  letter-spacing: 1px;
}

ion-icon {
  position: absolute;
  right: 12px;
  margin-top: -8px;
  font-size: 40px;
  z-index: 0;
}

h5 {
  background: var(--ion-color-primary);
  padding: 4px 24px;
  width: fit-content;
  font-size: .7em;
  font-weight: 900;
  border-radius: 2px;
  position: absolute;
  top: 185px;
  left: 10px;
}

.picture {
  display: block;
  width: 103%;
  height: 225px;
  background-size: cover;
  background-position: center;
  margin-left: -5px;

  &:hover {
    cursor: pointer;
  }
}

p {
  margin-bottom: 20px;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 410px;
}

.zero {
  right: 26px;
}
