<div class="latest">
  <ion-grid>
    <ion-row>
      <ion-col class="latest-title">
        {{'latest' | translate}}
      </ion-col>
      <ion-col class="latest-select">
          <ion-item>
            <ion-select slot="end"
                        interface="alert"
                        [placeholder]="'category' | translate"
                        mode="ios"
                        (ionChange)="search($event)">
              <ion-select-option *ngFor="let c of categories"
                                  [value]="c">{{c | translate}}
              </ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="article.created">
      <ion-col text-left>
        <div class="picture"
             [style]="article.cover | sanitizer: 'style'"
             (click)="goToArticle(article._id)">
          <h5>{{article.category | uppercase}}</h5>
        </div>
        <p class="article-title">
          <strong>
            {{article.title}}
          </strong>
        </p>
        <span class="latest-author">
          <strong>{{article.author}}</strong> - {{article.created}}
          <ion-badge color="primary"
                     [ngClass]="{'zero': total < 10}"
                     mode="md">{{total}}
          </ion-badge>
          <ion-icon name="chatboxes" color="primary"></ion-icon>
        </span>
        <div class="latest-message"
           [innerHTML]="article.message | sanitizer:'html'">
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!article.created">
      <ion-col class="flex-box">
        <h4>{{'no.articles' | translate}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

