<ion-icon class="close" name="close" (click)="close()"></ion-icon>
<ion-list>
  <ion-item *ngIf="_user.user" lines="none" class="user">
    <ion-avatar slot="start">
      <img [src]="_user.user.avatar | avatar"/>
    </ion-avatar>
    <ion-label>
      <h4>{{_user.user.name}}</h4>
      <p class="email">{{_user.user.email}}</p>
      <p><span>{{'account.type' | translate}}:</span>
        {{(_user.user.account | lowercase) | translate}}</p>
      <p *ngIf="_user.user.account != 'Guest'">
        <span>{{'visit.your' | translate}}</span>
        <ion-menu-toggle autoHide="false">
          <span class="bold" routerLink="/profile" routerDirection="root">
            {{'profile' | translate}}</span>
        </ion-menu-toggle>
      </p>
      <p *ngIf="_user.user.account == 'Guest'">
        <span class="bold" (click)="exit()">{{'exit' | translate}}</span>
      </p>
    </ion-label>
  </ion-item>
  <ion-menu-toggle autoHide="false" *ngFor="let i of menu">
    <ion-item lines="none" [routerLink]="i.url"
                            routerLinkActive="active"
                            routerDirection="root">
      <ion-label>{{i.name | translate}}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>
