ion-list {
  margin-left: 20px;
  // background: var(--ion-color-dark-tint);
}

ion-label {
  font-size: 1.3em !important;
}

// ion-item {
//   --background: var(--ion-color-dark-tint);
// }

ion-avatar {
  margin-right: 32px;
  margin-top: -10px;
}

img {
  width: 60px;
  height: 60px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.6em;
  z-index: 100;
}

@media (min-width:768px) {
 .close {
   display: none;
 }
}

.active {
  color: var(--ion-color-primary);
  font-weight: bold;
  margin-right: 20px;
  --border-radius: 5px;
}

p {
  color: var(--ion-color-medium);
}

span {
  color: var(--ion-color-light);

  &.bold:hover {
    cursor: pointer;
  }
}

h4 {
  font-size: 1.1em;
}

.user {
  margin-top: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--ion-color-light);
  padding-bottom: 16px;
  margin-right: 16px;
}

.email {
  margin: 8px auto;
}

@media (max-width: 359px) {
  h4 {
    font-size: .9em;
  }

  p {
    font-size: .6em;
  }
}