<hr>
<ion-list>
  <div *ngIf="prev">
    <ion-item-divider class="previous">
      < {{'previous.article' | translate}}
    </ion-item-divider>
    <ion-item lines="none"
              (click)="goNext(prev.slug)">
      <ion-label class="ion-text-wrap">
        {{prev.title}}
      </ion-label>
    </ion-item>
  </div>
  <div *ngIf="next">
    <ion-item-divider>
      <ion-label text-right>{{'next.article' | translate}} ></ion-label>
    </ion-item-divider>
    <ion-item lines="none"
              class="next"
              (click)="goNext(next.slug)">
              <ion-label text-right class="ion-text-wrap">
                {{next.title}}
              </ion-label>
    </ion-item>
  </div>
</ion-list>
