<hr>
<ion-list>
  <ion-item-divider class="previous">
    < Previous Article
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label text-right>Next Article ></ion-label>
  </ion-item-divider>
  <ion-item lines="none"
            class="next">
            <ion-label text-right class="ion-text-wrap">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </ion-label>
  </ion-item>
</ion-list>
