// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import './theme/partials/index/partials.scss';
@import '../node_modules/highlight.js/styles/vs2015.css';

html, body {
  max-width: 1010px;
  margin: 0 auto;
  height: 100%;
  -webkit-user-select: text;
  user-select: text;
}

.segment-button-checked ion-icon {
  color: var(--ion-color-light) !important;
}

ion-popover {
  div.popover-content {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
  }
}

.in-item {
  max-width: 100% !important;
}

.animated.fast {
  animation-duration: 400ms;
}

.bold {
  color: var(--ion-color-primary) !important;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

.bold-only {
  font-weight: bold;
}

.sc-ion-popover-md-h {
  --width: 300px !important;
}

.Javascript, .Typescript, .HTML, .CSS, .SCSS, .Nodejs {
  font-weight: bold;
  text-shadow: 2px 2px 0 var(--ion-color-dark);
}

.Javascript {
  color: rgb(247, 223, 30);
}

.Typescript {
  color: rgb(30, 117, 247);
}

.HTML {
  color: rgb(228, 77, 38);
}

.CSS {
 color:rgb(31, 95, 170);
}

.SCSS {
  color: rgb(155, 27, 116);
}

.Nodejs {
  color: rgb(64, 233, 64);
}

.angular, .NPM {
  color: red;
  font-weight: bold;
}

.NPM {
  -webkit-text-stroke: 1px var(--ion-color-light);
  text-shadow: 2px 2px 0 var(--ion-color-danger),
}

.ionic {
  color: #1b6dda;
  font-weight: bold;
}

.react {
  color: rgb(18, 136, 233);
  font-weight: bold;
}

.vue {
  color: rgb(3, 97, 3);
  font-weight: bold;
}

.light {
  color: var(--ion-color-light) !important;
}

.alert-radio-group.sc-ion-alert-ios {
  background: var(--ion-color-dark) !important;
}

// .alert-head.sc-ion-alert-ios,
// .alert-message.sc-ion-alert-ios {
//   background: var(--ion-color-primary) !important;
// }

// .alert-button.sc-ion-alert-ios {
//   color: var(--ion-color-light) !important;
// }

[aria-checked="true"] {
  font-weight: bold;
}

hr {
  background: var(--ion-color-light);
  margin: 25px auto;
  width: 90%;
}

ion-note {
  font-size: 1em;
 }

 ion-spinner {
  transform: scale(1.5);
}

@keyframes autofill {
  to {
    color: #f4f5f8;
    background: transparent;
  }
}

@-webkit-keyframes autofill {
  to {
      color: #f4f5f8;
      background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.swiper-pagination-bullet {
  --bullet-background: var(--ion-color-dark-shade) !important;
  width: 12px;
  height: 12px;
}

.searchbar-clear-button.sc-ion-searchbar-ios {
  right: 10px !important;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h
.searchbar-input.sc-ion-searchbar-ios {
  padding-inline-start: 40px !important;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h
.searchbar-search-icon.sc-ion-searchbar-ios {
  margin-inline-start: 10px !important;
}



