ion-list {
  margin-top: 5px;
}

ion-item-divider {
  border-bottom: 0;
  font-size: 1.1em;
  margin: -10px auto 5px -15px;
}

ion-item {
  font-size: .9em;
  --padding-start: 8px;
}

ion-label {
  padding-right: 15px;
}