.colors {
  padding: 10px;
  padding-bottom: 20px;
}

.color {
  width: 25px;
  height: 25px;
  margin: 0 3px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid var(--ion-color-light);
}

h5 {
  margin-top: 10px;
  margin-bottom: 15px;
}